* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.register-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(48, 233, 48);
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
}

.register-form input:focus {
    border-color: rgb(48, 233, 48);
    background-color: #fff;
}

.register-form button {
    padding: 10px;
    background-color: rgb(48, 233, 48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: rgb(32, 157, 32);
}

/* Estilo para o link de login */
.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link p {
    color: #333;
    font-size: 14px;
}

.login-link a {
    color: rgb(48, 233, 48);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .register-container {
        padding: 15px;
    }

    .register-form input,
    .register-form button {
        font-size: 14px;
    }
}

/* Estilo para a mensagem de sucesso ou erro */
.message {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Mensagem de sucesso */
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Mensagem de erro */
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
